.search-form {
    margin: 0 10%;
    position: relative;
}

.search-bar {
    position: absolute;
    width: 100%;
    top: -1.7rem;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    font-weight: 600;
    padding: 1rem 1.5rem;
}

.search-button {
    position: absolute;
    top: -1.7rem;
    right: 0;
    z-index: 10;
    color: white;
    background-color: blue;
    border: 0;
    padding: 1rem 1.3rem;
    border-radius: 0 5px 5px 0;
}

.fa-search {
    font-size: 18px;
}